---
import { Image } from "astro:assets";
import "../styles/global.css";
import { es } from "../i18n/es";
import { getData, type Country } from "country-list";
import ParticipateDialog from "../components/ParticipateDialog";
import ApplyMarquee from "../components/ApplyMarquee";
import Hero from "../components/Hero.astro";
import Bento from "../components/Bento.astro";
import Sponsors from "../components/Sponsors.astro";
import Communities from "../components/Communities.astro";
import SEO from "../components/SEO.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";

const { communities } = es.communities;
const countries = getData().sort((a: Country, b: Country) =>
  a.name.localeCompare(b.name),
);
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={es.meta.title} description={es.meta.description} />
  </head>
  <body class="bg-bg text-tx text-xl font-serif text-pretty">
    <ApplyMarquee word="participa" client:load />
    <div class="p-4 sm:p-8 max-w-3xl mx-auto space-y-8">
      <Hero />
      <Bento />
      <ParticipateDialog
        countries={countries}
        content={es.participate}
        client:load
      />
      <Sponsors />
      <Communities communities={communities} />
      <LanguageSwitcher currentLang="es" />
    </div>
  </body>
</html>
