---
import { es } from "../i18n/es";
import { en } from "../i18n/en";

interface Props {
  lang?: "en" | "es";
}

const { lang = "es" } = Astro.props;
const content = lang === "en" ? en.bento : es.bento;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div
    class="p-4 border border-ui-2 flex flex-col gap-4 items-center text-center"
  >
    <span class="text-4xl font-sans">3</span>
    <span class="text-tx-2">{content.days}</span>
  </div>
  <div
    class="p-4 border border-ui-2 flex flex-col gap-4 items-center text-center"
  >
    <span class="text-4xl font-sans">4</span>
    <span class="text-tx-2">{content.tracks}</span>
  </div>
  <div
    class="p-4 border border-ui-2 flex flex-col gap-4 items-center text-center"
  >
    <span class="text-4xl font-sans">150</span>
    <span class="text-tx-2">{content.participants}</span>
  </div>
  <div
    class="col-span-1 md:col-span-3 border border-ui-2 p-4 space-y-4 grid grid-cols-1 md:grid-cols-3 gap-4"
  >
    <div class="flex items-center justify-center">
      <pre
        class="font-mono text-[5px] leading-none text-tx font-medium select-none">
                        |~------------~/                        
                    -------_---     ~------~                    
                 ----~-_      ~ -         ~-~-~                 
               ~---        +~----~-          ~--~               
              -~---       ---                  _-~              
            ~-~-----_---~~~~-__                  ~-~            
           ~~~  -------___  -~--                  ~--           
          ~-_       ------~ ~ -~-- ~               ~-~          
         ~-_           ~--_~/~~~~~~~                ~~~         
         -~             /--~-~~--~~~~                ~~         
        ~-                 ~~~~~~~~~~~~~              --        
        ~-                ~~~~~~~~~~~~~~_             ~~        
        --               _~~~~~~~~~~~~~~~~~~~~        ~~        
        --               -~~~~~~~~~~~~~~~~~~~~~_      ~~        
        ~-                 ~~~~~~~~~~~~~~~~~~~~       ~~        
        ~-                 ~~~~~~~~~~~~~~~~~~       _~         
         -~                   /~~~~~~~~~~~~~~        ~~         
         ~-                   ~~~~~~~~~~~~_l       ~~_         
         _~~                 \~~~~~~~~~~          ~~~          
          ~~~                 ~~~~~~~~~~          ~~_           
           _~~                ~~~~~~~_          ~~~             
             ~~~              ~~~~~_          ~~~_              
              _~~~            ~~~~          _~~_                
                _~~~          _~~_ |    ~~~~~_                  
                  _~~~~/      __~~~~~~___~~__~~_~~~\                     
                     \~__~_____                           
                                                     
    </pre>
    </div>
    <div
      class="col-span-1 md:col-span-2 flex flex-col items-stretch md:items-start justify-center text-center md:text-left"
    >
      <p class="text-4xl font-sans text-center">{content.online.title}</p>
      <br />
      <p class="text-tx-2">
        {content.online.desc.split("[")[0]}<a
          href="https://indies.la"
          class="text-tx underline font-sans"
          target="_blank"
          rel="noopener noreferrer"
          >{content.online.desc.match(/\[(.*?)\]/)?.[1]}</a
        >{content.online.desc.split("]")[1]?.split(")")[1] || ""}
      </p>
    </div>
    <div class="col-span-1 md:col-span-3 grid grid-cols-1 sm:grid-cols-3 gap-4">
      <div
        class="text-tx-2 font-sans text-3xl flex items-center justify-center"
      >
        {content.lan.title}
      </div>
      <div class="flex items-stretch sm:items-center justify-center text-center sm:text-left col-span-1 sm:col-span-2">
        <div class="col-span-2 w-full sm:w-auto">
          <span class="text-4xl font-sans">{content.lan.location}</span>
          <br />
          <span class="text-tx-2">
            {content.lan.desc.split("[")[0]}<a
              href="https://www.instagram.com/unite_uc/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-tx underline font-sans"
              >{content.lan.desc.match(/\[(.*?)\]/)?.[1]}</a
            >{content.lan.desc.split("]")[1]?.split(")")[1] || ""}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
