---
import { Image } from "astro:assets";
import { es } from "../i18n/es";
import { en } from "../i18n/en";

interface Props {
  lang?: "en" | "es";
}

const { lang = "es" } = Astro.props;
const content = lang === "en" ? en.sponsors : es.sponsors;
---

<div class="space-y-4 mt-8">
  <p class="text-tx-2">{content.title}</p>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <a
      href="https://faces.app"
      target="_blank"
      rel="noopener noreferrer"
      class="border border-ui p-4 flex items-center justify-center text-center flex-col gap-4 hover:border-ui-2 hover:bg-bg-2 transition-colors sm:col-span-2 lg:col-span-3"
    >
      <div class="w-32 h-32 flex items-center justify-center shrink-0">
        <Image
          src="https://lh3.googleusercontent.com/d/18Zd6dBp-nmsAdfHrhbBElaTyAklBt3bz=w1000?authuser=0"
          alt="Faces"
          width={128}
          height={128}
          class="max-w-full max-h-full object-contain"
        />
      </div>
      <p class="text-balance text-tx-2 text-base">
        {content.faces}
      </p>
    </a>
    <a
      href="https://www.3x10.lat/"
      target="_blank"
      rel="noopener noreferrer"
      class="border border-ui p-4 flex items-center justify-center text-center flex-col gap-4 hover:border-ui-2 hover:bg-bg-2 transition-colors"
    >
      <div class="w-32 h-32 flex items-center justify-center shrink-0">
        <Image
          src="https://lh3.googleusercontent.com/d/13yMe938N597zvZk5ybkCZNWOtTUuS_o_=w1000?authuser=0"
          alt="3x10"
          width={128}
          height={128}
          class="max-w-full max-h-full object-contain"
        />
      </div>
      <p class="text-balance text-tx-2 text-base">
        {content.threeByTen}
      </p>
    </a>
    <a
      href="https://animo.video/"
      target="_blank"
      rel="noopener noreferrer"
      class="border border-ui p-4 flex items-center justify-center text-center flex-col gap-4 hover:border-ui-2 hover:bg-bg-2 transition-colors"
    >
      <div class="w-32 h-32 flex items-center justify-center shrink-0">
        <Image
          src="https://lh3.googleusercontent.com/d/1O5oqDB5-yiQiTs3nM0XNteR8fXkfKA1f=w1000?authuser=0"
          alt="Animo"
          width={128}
          height={128}
          class="max-w-full max-h-full object-contain"
        />
      </div>
      <p class="text-balance text-tx-2 text-base">
        {content.animo}
      </p>
    </a>
    <a
      href="https://boquila.org/"
      target="_blank"
      rel="noopener noreferrer"
      class="border border-ui p-4 flex items-center justify-center text-center flex-col gap-4 hover:border-ui-2 hover:bg-bg-2 transition-colors"
    >
      <div class="w-32 h-32 flex items-center justify-center shrink-0">
        <Image
          src="https://lh3.googleusercontent.com/d/1uhhOS6-dm3D0AWY_Y8Y8_HREmrgNE8c4=w1000?authuser=0"
          alt="Boquila Foundation"
          width={128}
          height={128}
          class="max-w-full max-h-full object-contain"
        />
      </div>
      <p class="text-balance text-tx-2 text-base">
        {content.boquila}
      </p>
    </a>
  </div>
</div>
